.sponsors {
    display:flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-between;
    width: 100%;
    height:60vh;
    padding: 3rem 0;
    margin:0 auto;
    
}
.sponsorsContainer {
    background-color: #F9F9FC;
}
.subContainer {
    background-color: white;
    padding-bottom: 3rem;
    width:95%;
    margin:0 auto;
}

.work {
    /* border:1px solid black; */
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:1.5rem 1.5rem;
    color:gray;
    width:70%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: -1px -1px 10px lightgray;
}

.btn {
    background-color: #4230DD;;
    padding: 2% 5%;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight:bold;
    color:white;
    box-shadow: 5px 5px 1px #1C1279;
    transition: all 0.1s;


}
.expand {
    margin-top:.2rem;
    margin-left:-3rem;
    color:white;
}
.btn:hover {
    box-shadow: 0px 0px 1px #CAF4E0;
    transform: translate(5px,5px);
    
}

.workText {
   text-align: center;
   padding:6rem 0;
   font-weight: bolder;
   font-size: 3rem;
}

.workCard {
    height: 80vh;
    width: 100%;
    border-radius: 20px;
    background-color:#F2F2FF;
    display:flex;
    justify-content: space-around;
    margin-bottom: 6rem;
    /* border:1px solid black; */
}
.workCardText{
    margin:6rem 2rem;
    /* border:1px solid black; */
    width:45%;
}
.workCarditem {
    list-style: disc;
    font-size: 1.1rem;
    line-height: 2.5rem;
    color:gray;
    width:100%;
}
.workCardParagraph {
    font-size: 1.9rem;
    line-height: 2.5rem;
    width:100%;
    font-weight:bold;
    margin-bottom: 2rem;
}
.workCardImg {
  margin-right:2rem;
  width:30%;
}
.workCardlink {
    color:blue;
}



 
 .workCard1 {
     height: 50vh;
     width: 100%;
     border-radius: 20px;
     background-color:#F2F2FF;
     display:flex;
     flex-direction: row-reverse;
     justify-content: space-around;
     margin-bottom: 6rem;
     z-index: -20;
     /* border:1px solid black; */
 }
 .workCardText1 {
     margin:6rem 2rem;
     /* border:1px solid black; */
     width:45%;
 }
 .workCarditem1 {
     list-style: disc;
     font-size: 1.1rem;
     line-height: 2.5rem;
     color:gray;
     width:100%;
 }
 .workCardParagraph1 {
     font-size: 1.9rem;
     line-height: 2.5rem;
     width:100%;
     font-weight:bold;
     margin-bottom: 2rem;
 }
 .workCardImg1 {
   margin-right:2rem;
   width:30%;
   transform: translateY(-20px);
   z-index: 1;
 }
 .workCardlink1 {
     color:blue;
 }



 .workCard2 {
    height: 50vh;
    width: 100%;
    border-radius: 20px;
    background-color:#F2F2FF;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 6rem;
    z-index: -20;
    /* border:1px solid black; */
}
.workCardText2 {
    margin:6rem 2rem;
    /* border:1px solid black; */
    width:45%;
}
.workCarditem2 {
    list-style: disc;
    font-size: 1.1rem;
    line-height: 2.5rem;
    color:gray;
    width:100%;
}
.workCardParagraph2 {
    font-size: 1.9rem;
    line-height: 2.5rem;
    width:100%;
    font-weight:bold;
    margin-bottom: 2rem;
}
.workCardImg2 {
  width:30%;
  transform: translateX(55px);
  position: relative;
}

.helpText {
    font-weight:bold;
    font-size: 2rem;
    width:50%;
    margin:3rem auto;
    text-align: center;
}